@model IEnumerable<SistemaWebMisRecetas.Models.Receta>
@{
    ViewData["Title"] = "Lista de recetas por autor";
}
<h2>Lista de recetas por autor</h2>
@section SideBar{
    <div class="side">
        @Html.ActionLink("Volver", "Index", "Receta")
        @foreach (var item in Model)
        {
            <p> ID : @Html.DisplayFor(model=>item.Id)</p>
                @Html.ActionLink("Eliminar", "Delete", "Receta", new{id=item.Id})
                @Html.ActionLink("Editar", "Edit", "Receta", new{id=item.Id})
            
        }
    </div>

}
<table>
    <tr>
        <th>@Html.DisplayNameFor(m=> m.Id)</th>
        <th>@Html.DisplayNameFor(m=> m.Nombre)</th>
        <th>@Html.DisplayNameFor(m=> m.Categoria)</th>
        <th>@Html.DisplayNameFor(m=> m.Ingredientes)</th>
        <th>@Html.DisplayNameFor(m=> m.Instrucciones)</th>
        <th>@Html.DisplayNameFor(m=> m.Autor)</th>
        <th>@Html.DisplayNameFor(m=> m.Apellido)</th>
        <th>@Html.DisplayNameFor(m=> m.Edad)</th>
        <th>@Html.DisplayNameFor(m=> m.Email)</th>
    </tr>

    @foreach (var receta in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m=> receta.Id)
            </td>
            <td>
                @Html.ActionLink(receta.Nombre,"Details","Receta",new{id=receta.Id })
            </td>
            <td>
                @Html.DisplayFor(m=> receta.Categoria)
            </td>
            <td>
                @Html.DisplayFor(m=> receta.Ingredientes)
            </td>
            <td>
                @Html.DisplayFor(m=> receta.Instrucciones)
            </td>
            <td>
                @Html.DisplayFor(m=> receta.Autor)
            </td>
            <td>
                @Html.DisplayFor(m=> receta.Apellido)
            </td>
            <td>
                @Html.DisplayFor(m=> receta.Edad)
            </td>
            <td>
                @Html.DisplayFor(m=> receta.Email)
            </td>
        </tr>
    }
</table>